package ${package}.${moduleName}.service

import ${package}.${moduleName}.dao.${className}Dao
import ${package}.${moduleName}.entity.${className}
import kotlinx.coroutines.flow.Flow
import org.springframework.beans.factory.annotation.Autowired
import org.springframework.stereotype.Service

/**
*
* @author ${author}
* @email ${email}
* @date ${datetime}
*/
@Service
class ${className}Service {
    @Autowired
    lateinit var ${classname}Dao: ${className}Dao

    suspend fun getById(id: Long): ${className}? {
        return ${classname}Dao.findById(id)
    }

    suspend fun saveOrUpdate(${classname}: ${className}): ${className} {
        return ${classname}Dao.save(${classname})
    }

    suspend fun deleteById(id: Long) {
        ${classname}Dao.deleteById(id)
    }

    fun getAll(): Flow<${className}> {
        return ${classname}Dao.findAll()
    }
}

